# Server
API_PORT=your-api_port

# Database
DATABASE_URL="your-database_url"

# JWT
JWT_SECRET="your-jwt_secret"

# Github
GITHUB_CLIENT_ID="your-github_client_id"
GITHUB_CLIENT_SECRET="your-github_client_secret"
GITHUB_REDIRECT_URI="your-github_redirect_uri"
